.question-section {
  width: 100%;
  max-width: 600px;
  /* Control the maximum width for better readability */
  margin: 20px auto;
  /* Center the card and give some space from the top */
  background-color: #fff;
  /* Card background color */
  padding: 20px;
  /* Padding inside the card */
  border-radius: 8px;
  /* Rounded corners for the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Subtle shadow for depth */
  text-align: center;
  /* Center the text within the card */
  border: 1px solid #ddd;
  /* Light border for definition */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  position: relative;
  overflow: hidden;
}

.question-count,
.question-text {
  width: 100%;
  text-align: center;
}

.question-count {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.answer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answer-section button {
  margin: 5px 0;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.answer-section button:hover {
  background-color: #0056b3;
}

@media (min-width: 576px) {
  .answer-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .answer-section button {
    flex: 1 1 45%;
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .app {
    padding: 0 40px;
  }

  .answer-section button {
    padding: 15px 24px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .question-section {
    max-width: 800px;
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes floatAnimation {
  0% {
      transform: translate(0, 0);
      opacity: 0.5;
  }
  100% {
      transform: translate(var(--x-end), var(--y-end));
      opacity: 0;
  }
}

.shape {
  width: var(--size);
  height: var(--size);
  background-color: rgba(255, 255, 255, var(--opacity));
  position: absolute;
  animation: floatAnimation 20s infinite linear;
  animation-delay: var(--animation-delay); /* Different delays for multiple shapes */
  border-radius: var(--border-radius); /* Dynamic border-radius */
  will-change: transform, opacity; /* Prepare the browser for what will change */
}

/* Ensure the shapes are beneath the quiz content */
.question-section {
  position: relative;
  z-index: 1; /* Higher than the shapes */
}

@media (prefers-reduced-motion: reduce) {
  .shape {
    animation: none;
  }
}
