body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  height: 100%; /* Full height to the body */
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

.question-count, .question-text {
  width: 100%; /* Ensure full width to allow central alignment */
  text-align: center; /* Center the text horizontally */
}

.question-count {
  font-size: 20px; /* Optional: adjust the font size if necessary */
  font-weight: bold; /* Make it bold to distinguish from the question text */
  margin-bottom: 10px; /* Ensure there's a space between the count and the question */
}

.question-text {
  font-size: 18px; /* Set appropriate font size for readability */
  margin-bottom: 20px; /* Space before the answer section begins */
  padding: 0 10px; /* Padding on sides to ensure text doesn't touch the edges */
}


.answer-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answer-section button {
  margin: 5px 0; /* More vertical space between buttons */
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.answer-section button:hover {
  background-color: #0056b3;
}

@media (min-width: 576px) {
  .answer-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .answer-section button {
    flex: 1 1 45%; /* Adjust button width on larger screens */
    margin: 5px;
  }
}

@media (min-width: 768px) {
  .app {
    padding: 0 40px;
  }

  .answer-section button {
    padding: 15px 24px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .question-section {
    max-width: 800px;
  }
}
